{% assign nowepoch = "now" | date:"%s" %}

{% for event in include.events %}
{% assign eventepoch = event.start | date:"%s" %}
<div class="event {% if eventepoch > nowepoch %} upcoming {% else %} passed {% endif %}">

<div class="event-time">{{ event.start | date:"%a, %b %d FROM %-l:%M%p" | upcase }} TO {{ event.end | date:"%-l:%M%p" | upcase }}</div>

<div class="event-title"><a href="{{ event.link }}">{{ event.title }}</a></div>

<div class="event-location">{{ event.location }}</div>

</div>
{% endfor %}
