.event-category {
	margin-bottom: 16px;
}
.event {
	padding: 5px;
	border: 1px black;
	.event-time {
		color: cornflowerblue;
		font-size: 14px;
	}
	.event-title {
		font-weight: 600;
		font-size: 18px;
	}
	.event-location {
		color: gray;
		font-size: 12px;
	}
}
