.page-content {
	.block {
		padding-top: 100px;
		border: 1px solid #CCC;
		padding: 15px;
		background-color: #FAFAFA;
		margin-bottom: 20px;
	}
	.row {
		display: flex;
		@include media-query($on-palm) {
			display: block;
		}
		.block {
			width: 50%;
			@include media-query($on-palm) {
				width: inherit;
			}
		}
	}
}

.wrapper {
	.columnleft {
		float: left;
	}
	.columnright {
		float: right;
	}
	.columnleft, .columnright {
		display: inline-block;
		width: 49%;

		@include media-query($on-palm) {
			width: 100%;
			display: block;
		}
	}
}
