$blocksep: 20px;
.page-content {
	.block {
		padding-top: 100px;
		border: 1px solid #CCC;
		padding: 15px;
		background-color: #FAFAFA;
		margin-bottom: $blocksep;
	}
	.row {
		display: flex;
		@include media-query($on-palm) {
			display: block;
		}
		.block {
			width: 50%;
			&:not(:first-child) {
				margin-left: $blocksep;
			}
			@include media-query($on-palm) {
				width: inherit;
				&:not(:first-child) {
					margin-left: inherit;
				}
			}
		}
	}
}
