$pb-image-width: 300px;
$pb-image-width-mobile: 125px;
/* Current Politburo Page */
.politburo {
	margin-top: 20px;
	.pb-member {
		clear: both;
		img {
			float: left;
			padding: 0 1em 1em 0;
			height: $pb-image-width;
			width: $pb-image-width;
			object-fit: cover;
			@include media-query($on-palm) {
				width: $pb-image-width-mobile;
				height: $pb-image-width-mobile;
				padding-bottom: 0;
			}
		}
		.text {
			.title {
				font-size: 18px;
				font-weight: 600;
				margin: 5px 0px 5px;
			}
			.name {
				font-style: italic;
				font-size: 15px;
			}
			.email {
				font-weight: 300;
				font-size: 12px;
				margin: 5px 0 10px;
				color: gray;
			}
		}
	}
}

/* Former Politburo Page */
.pbroster {
	background: white;
	padding: 10px;
	margin: 10px 0 20px;
	border: 1px solid #CCC;

	> tbody {
		> tr {
			border-bottom: 1px solid black;

			> td.title {
				font-size: 16px;
				margin-top: 5px;
				font-weight: 600;
			}
			> td.name {
				font-size: 14px;
				font-weight: 300;
				margin-bottom: 20px;
			}
		}
	}
}
