$pb-image-width: 300px;
$pb-image-width-mobile: 125px;
/* Current Politburo Page */
.politburo {
	margin-top: 20px;
	.pb-member {
		clear: both;
		img {
			float: left;
			padding: 0 1em 1em 0;
			height: $pb-image-width;
			width: $pb-image-width;
			object-fit: cover;
			@include media-query($on-palm) {
				width: $pb-image-width-mobile;
				height: $pb-image-width-mobile;
				padding-bottom: 0;
			}
		}
		.text {
			.title {
				font-size: 18px;
				font-weight: 600;
				margin: 5px 0px 5px;
			}
			.name {
				font-style: italic;
				font-size: 15px;
			}
			.email {
				font-weight: 300;
				font-size: 12px;
				margin: 5px 0 10px;
				color: gray;
			}
		}
	}
}

/* Former Politburo Page */
.pbroster {
	background: white;
	padding: 0px;
		border: 1px solid #CCC;
	width: 100%;
	border-collapse: collapse;

	> tbody {
		> tr {
			//border-bottom: 1px solid #CCC;
			//padding-top: 5px;

			&:nth-child(even) {
				background-color: #f2f2f2;
				//border: 1px solid #CCC;
			}

			> td.title {
				font-size: 16px;
				margin-top: 3px;
				font-weight: 600;
				padding-left: 10px;
				//border-left: 1px solid #CCC;
			}
			> td.name {
				font-size: 14px;
				font-weight: 300;
				margin-bottom: 20px;
				text-align: right;
				padding-right: 10px;
				border-right: 1px solid #CCC;
			}
		}
	}
}
